/* CSS reset */
body,ul,li,h1,h2,a{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* 320px is smallest current screen size (according to a search result) */

/* Set main to be below Navb bar */
main{
    margin-top: 67px;
    text-align: center;
}

/* 
    Nav bar 
    Bar will be on top for smaller devices, and side for larger.
*/
.mainNav{
    position: fixed;
    width: 100%;
    background-color: #1e0a77;
    top: 0;
}
.mainNavUL{
    /* Remove ul buttons */
    list-style-type: none;
    text-align: center;
    padding: 16px;
    margin: 0 auto;
}
.navListItem{
    padding: 8px;
    /* Make ul horizontal */
    display: inline;
}
.navListItem a{
    text-decoration: none;
    color: rgb(207, 183, 230);
}
.navListItem:hover{
    /* Underline link when hovering. */
    text-decoration: underline rgb(207, 183, 230) 4px;
}

/* Uniform label sizing */
.labelDiv{
    font-weight: bold;
    font-size: 1.2em;
    padding: 2px;
}

/* NPC Page*/

.npcSelection{
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsList{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.skillsList li{
    padding: 2px;
}

.dropDownDiv{
    align-content: center;
}
.dropDownNPC{
    width: 220px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 8px;
}
.dropdownButton{
    width: inherit;
    border-radius: 4px;
}
.dropdownMenu{
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 120px;
    transition: all 0.3s;
    background: white;
    position: absolute;
    width: inherit;
}

.dropdownMenu a{
    display: block;
    text-decoration: none;
    color: black;
}

.dropdownMenu a:hover{
    background: lightgray;
}

.hide{
    max-height: 0px;
    opacity: 0;
}

.singleButtonNPC{
    margin: 2px;
    background-color:#1e0a77;
    border: none;
    color: rgb(207, 183, 230);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.singleButtonNPC:hover{
    text-decoration: underline rgb(207, 183, 230) 4px;

}

/* 




*/
/* Larger than 350px devices. */
@media screen and (min-width: 351px) {
    /* Adjust main for nav bar */
    main{
        margin-top: 75px;
    }

    /* Nav bar */
    /* Set nav bar to stay at top */
    .mainNav{
        position: fixed;
        width: 100%;
    }
    .navListItem a{
        font-size: 1.2em;
    }
}
/* 




*/
/* Larger than 445px devices */
@media screen and (min-width: 446px) {
    /* main margin needs to be adjusted for nav bar becoming smaller due to links being in a single row */
    main{
        margin-top: 53px;
    }
}
/* 




*/
/* Devices 700px and larger. */
@media screen and (min-width: 701px) {
    /* Nav bar */
    /* Move nav bar to the side and change ul back to vertical */
    .mainNav{
        top: 0;
        left: 0;
        /* On mobile, fixes slight visual bug where the nav will stay the original size while scrolling fast to hide address bar. Now address bar does not hide. Will look into further. */
        bottom: 0;
        width: 175px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navListItem{
        display: flex;
    }
    .navListItem a{
        font-size: 1.5em;
    }

    /* Move main to be visible beyond Nav and set margin-top back to default */
    main{
        margin-top: 0px;
        margin-left: 175px;
    }

    /* Grid for viewability */
    .parentDivNPC{
        
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}