/* Encounter Page*/

.encounterSelection{
    margin-top: 1em;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divWidthAdjustment{
    display: flex;
    align-self: center;
    margin: 4px;
}

.resultsWrapper{
    align-self: center;
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto;
    border: 4px solid black;
    background-color: rgba(0, 0, 0, 0.062);
}

.resultLabel{
    font-weight: bold;
}

.resultCR{
    border: 1px solid black;
    padding: 6px;
}

.resultName{
    border: 1px solid black;
    padding: 6px;
}

.linkToCreature{
    text-decoration: underline 3px;
    color: black;
}

.linkToCreature:hover{
    color: purple;
}

.parentDivEncounter p{
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #1e0a772a;
    border-radius: 32px;
    padding: 16px;
}