/* Loot Page*/

.lootSelection{
    margin-top: 1em;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divWidthAdjustment{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 4px;
}

.creditsGainedWrapper{
    width: fit-content;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    font-weight: bold;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    background-color: rgba(0, 0, 0, 0.062);
}

.resultsWrapper{
    align-self: center;
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto auto;
    border: 4px solid black;
    background-color: rgba(0, 0, 0, 0.062);
}

.resultLabel{
    font-weight: bold;
}

.resultAmount{
    border: 1px solid black;
    padding: 6px;
}

.resultItem{
    border: 1px solid black;
    padding: 6px;
}

.resultLevel{
    border: 1px solid black;
    padding: 6px;
}

.resultBulk{
    border: 1px solid black;
    padding: 6px;
}

.resultItem{
    border: 1px solid black;
    padding: 6px;
}

.linkToItem{
    text-decoration: underline 3px;
    color: black;
}

.linkToItem:hover{
    color: purple;
}


.mainWrapperDiv p{
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #1e0a772a;
    border-radius: 32px;
    padding: 16px;
}