/* Loot Page*/

.lootSelection{
    margin-top: 1em;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainWrapperDiv p{
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #1e0a772a;
    border-radius: 32px;
    padding: 16px;
}