/* NPC Page*/

.npcSelection{
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownNPC{
    width: 220px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 8px;
}
.dropdownButton{
    width: inherit;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}
.dropdownMenu{
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 120px;
    transition: all 0.3s;
    background: white;
    position: absolute;
    width: inherit;
}

.dropdownMenu a{
    display: block;
    text-decoration: none;
    color: black;
}

.dropdownMenu a:hover{
    background: lightgray;
}

.hide{
    display: none;
}







.dropdownNPC{
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdownNPC *{
    box-sizing: border-box;
}

.dropdownSelect{
    background: #2A2F3B;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #2A2F3B;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}


.dropdownSelect-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.dropdownSelect:hover{
    background: green;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #FFF;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.dropdownList{
    list-style-type: none;
    padding: 0.2em 0.5em;
    background: #323741;
    color: #9FA5B5;
    border: 1px #363A43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.dropdownList li{
    padding: 0.2em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdownList li:hover{
    background: #2A2D35;
}

.active{
    background: #23242A;
}

.dropdownList-open{
    display: block;
    opacity: 1;
}






.npcSkillInputDiv{
    display: flex;
}

.singleButtonNPC{
    margin: 2px;
    background-color:#1e0a77;
    border: none;
    color: rgb(207, 183, 230);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.singleButtonNPC:hover{
    text-decoration: underline rgb(207, 183, 230) 4px;

}